* {
    /* font-family: 'Rufina', serif; */
    /* font-family: 'Inknut Antiqua', serif; */
    font-family: 'EB Garamond', serif;
    
}

/* Bootraps */
/* pe-3 = padding-left : 1em */
/* pe-4 = padding-left : 1.5em */
/* pe-5 = padding-left : 3em */

a {
    text-decoration: none;
}

/* Remove blank right */
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Content1 */
.container-CaptionReservations{
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 10em;
}
.paraghrap2Content1Reservations {
    margin-top: 13em;
    margin-bottom: 5em;
}
.caption1Content1Reservations {
    font-weight: 500;
    line-height: 110%;
}

.caption2Content1Resevations{
    font-weight: 100;
}
/*  */

/* Content2 dan Content3*/
.fotoImage1{
    width: 80%;
}

.fotoImage2{
    width: 80%;
}

.fotoJeruk{
    width: 100%;
}

.content2Image-Container{
    position: relative;
    }

.container-image1 {
    position: relative;
    z-index: 3;
    top: 1em
  }
  
  .container-FotoJeruk {
    position: absolute;
    left: 33em;
    bottom: 20em;
    z-index: 2;
  }

  .captions1Content2Reservation{
    font-size: 2em;
  }
  .captions2Content2Reservation{
    font-size: 2em;
  }
/*  */

/* Content4 */
.reservationsInputContent4 {
    border-color: #212529;
    border-radius: 0;
    width: 100%;
    background-color: #ebf0e4 ;
}

#FormInputContent4::placeholder {
    /* color: black; */
}
/*  */






/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* Extra Large */
@media only screen and (min-width: 1801px) {
    .caption1Content1Reservations {
        font-size: 7em;
    }
    .caption2Content1Resevations{
        font-size: 1.8em;
    }

  }

@media only screen and  (min-width: 1501px ) and (max-width: 1800px) {
    .caption1Content1Reservations {
        font-size: 6em;
    }
    .caption2Content1Resevations{
        font-size: 1.4em;
    }
  }

  @media only screen and (min-width: 1400px ) and (max-width: 1500px) {
    .caption1Content1Reservations {
        font-size: 5em;
    }
    .caption2Content1Resevations{
        font-size: 1.2em;
    }

    /* Content 2 dan Content 3 */
    .fotoImage1{
        margin-left: 4em;
        margin-top: 2em;
    }

    .fotoJeruk{
        width: 140%;
    }

    .container-image1 {
        position: relative;
        z-index: 3;
        top: 1em
      }
      
      .container-FotoJeruk {
        position: absolute;
        left: 36em;
        bottom: 19.8em;
        z-index: 2;
      }

      .captions2Content2Reservation{
        margin-left: 4em;
      }
  }

@media only screen and (min-width: 1200px ) and (max-width: 1399px) {
    .caption1Content1Reservations {
        font-size: 5em;
    }
    .caption2Content1Resevations{
        font-size: 1.2em;
    }

    .captions1Content2Reservation{
        font-size: 1.5em;
      }
      .captions2Content2Reservation{
        font-size: 1.5em;
      }

    /* Content 2 dan Content 3 */
    .fotoImage1{
        margin-left: 2em;
    }

    .fotoJeruk{
        width: 110%;
    }

    .container-image1 {
        position: relative;
        z-index: 3;
        top: 1em
      }
      
      .container-FotoJeruk {
        position: absolute;
        left: 30em;
        bottom: 17.8em;
        z-index: 2;
      }

      .captions2Content2Reservation{
        margin-left: 2em;
      }
  }
/* ---------------------------------------------------------------------- */
 
  /* Large */
@media only screen and ( min-width: 992px) and (max-width: 1199px) {
    /* Content 1 */
    .container-CaptionReservations{
        margin-left: 5em;
        margin-right: 5em;
    }
    .paraghrap2Content1Reservations {
        margin-top: 9em;
        margin-bottom: 3em;
    }

  

    .caption1Content1Reservations {
        font-size: 5em;
    }
    .caption2Content1Resevations{
        font-size: 1.1em;
    }

    /* Content 2 dan Content 3 */
    .captions1Content2Reservation{
        font-size: 1.45em;
      }
      .captions2Content2Reservation{
        font-size: 1.45em;
      }
    .container-image1 {
        position: relative;
        z-index: 3;
        top: 1em
      }
      
      .container-FotoJeruk {
        position: absolute;
        left: 24em;
        bottom: 14.5em;
        z-index: 2;
      }

  }
/* ---------------------------------------------------------------------- */
  /* Medium */
  @media only screen and (min-width: 870px ) and ( max-width: 991px) {
    /* Content 1 */
    .caption1Content1Reservations {
        font-size: 4.5em;
    }
    .caption2Content1Resevations{
        font-size: 1.1em;
    }

    /* Content 2 dan Content 3 */
    

    .fotoImage1{
        width: 80%;
    }
    /* .fotoJeruk{
        width: 100%;
      } */
    .container-image1 {
        position: relative;
        z-index: 3;
        top: 1em
      }
    .container-FotoJeruk {
        position: absolute;
        left: 17em;
        bottom: 10em;
        z-index: 2;
      }

   
}

@media only screen and (min-width: 768px ) and ( max-width: 869px) {
    /* Content 1 */
    .container-CaptionReservations{
        margin-left: 3em;
        margin-right: 3em;
    }
    .paraghrap2Content1Reservations {
        margin-top: 9em;
        margin-bottom: 3em;
    }
    .caption1Content1Reservations {
        font-size: 4em;
    }
    .caption2Content1Resevations{
        font-size: 1em;
    }

    /* Content 2 dan Content 3 */
    .fotoImage1{
        width: 80%;
    }
    /* .fotoJeruk{
        width: 100%;
      } */
    .container-image1 {
        position: relative;
        z-index: 3;
        top: 1em
      }
    .container-FotoJeruk {
        position: absolute;
        left: 17em;
        bottom: 10em;
        z-index: 2;
      }
    }

@media only screen and (min-width: 768px ) and ( max-width: 991px) {
    /* Content 2 dan 3 */
    .captions1Content2Reservation{
        font-size: 1.1em;
      }

      .captions2Content2Reservation{
        font-size: 1.1em;
      }
      

      .fotoImage2{
        width: 90%;
      }
    }

/* ---------------------------------------------------------------------- */

/* Small */
@media only screen and (max-width: 767px )  {
    .container-CaptionReservations{
        margin-left: 2em;
        margin-right: 2em;
    }
    .paraghrap2Content1Reservations {
        margin-top: 7em;
        margin-bottom: 2em;
    }
    .caption1Content1Reservations {
        font-size: 4em;
    }
    .caption2Content1Resevations {
        font-size: 0.95em;
    }

    /* Content 2 dan Content 3 */
    .captions1Content2Reservation{
        font-size: 0.9em;
      }
      .captions2Content2Reservation{
        font-size: 0.9em;
      }
   
      .fotoJeruk{
      width: 90%;
      position: relative;
      left: 0em; 
      }
     
  }

  @media only screen and (max-width: 700px )  {
   .fotoJeruk{
    width: 90%;
    position: relative;
    left: 0.5em; 
   }
  }

  @media only screen and (max-width: 600px )  {
    .fotoJeruk{
     width: 85%;
     position: relative;
     left: 0.5em; 
    }
   }

  @media only screen and (max-width: 500px )  {
    .fotoJeruk{
     width: 80%;
     position: relative;
     left: 1em; 
    }
  }